@model MatchDayLive.Models.Team

@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_layout1.cshtml";   
}

<div class="container">
@using (Html.BeginForm("forgetpwd", "Home", new { @class = "form-horizontal" }))
{
  <fieldset>
    <legend>Forget Password</legend>
   
      <div class="form-group" >
        <div class="col-sm-6">
            <div class="form-control">
    	        @Html.TextBoxFor(model => model.TeamName, new { placeholder = "Team Name" } )        
            </div>
            <p class="error">
              @Html.ValidationMessageFor(model => model.TeamName)
               </p>
        </div>
    </div>
   
    <div>
        <br/>
        <br />
        <br/>
        
    </div>

     
    <div class="form-group" >
        <div class="col-sm-6">
            <div class="form-control">
                <span><i class="fa fa-lock"></i></span>  
    	        @Html.TextBoxFor(model => model.SecretQuestion, new { placeholder = "Secret Question" } )      
            </div>
            <p class="error">
              @Html.ValidationMessageFor(model => model.SecretQuestion)
                </p>
        </div>
    </div>

      <br/>
      <br/>
      <br/>
      
      <div class="form-group" >
        <div class="col-sm-6">
            <div class="form-control">  
    	        @Html.TextBoxFor(model => model.SecretAnswer, new { placeholder = "Secret Answer" } )      
            </div>
            <p class="error">
              @Html.ValidationMessageFor(model => model.SecretAnswer)
                </p>
        </div>
    </div>
     
     <br/>
      <br/>
      <br/>

    @Html.ActionLink("Not Registered? Sign up", "signup", "Home")
     <br/>
    @Html.ActionLink("Forget Password?", "forgetpwd", "Home")
   
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>

   
  </fieldset>
  
}
    </div>